@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Adieu-Regular';
	src: url('../../public/fonts/Adieu-Regular.otf');
}

html,
body,
main {
	overscroll-behavior: none;
	scroll-behavior: smooth;
}

/* Custom Scrollbar */

body::-webkit-scrollbar {
	width: 0px;
}

body::-webkit-scrollbar-track {
	background: #ffffff;
}

body::-webkit-scrollbar-thumb {
	background: #bdbdbd;
	border-radius: 12px;
}

/*   Text Styles   */

.animateUnderline {
	position: relative;
	text-decoration: none;
}

.animateUnderline::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: -8px;
	left: 0;
	background-color: #4f78ff;
	transform: scaleX(0);
	transition: transform 0.35s ease;
}

.animateUnderline:hover::before {
	transform: scaleX(1);
}

.button-gradient {
	background: hsla(226, 100%, 65%, 1);
	background: linear-gradient(
		45deg,
		hsla(226, 100%, 65%, 1) 0%,
		hsla(197, 100%, 65%, 1) 100%
	);
	background: -moz-linear-gradient(
		45deg,
		hsla(226, 100%, 65%, 1) 0%,
		hsla(197, 100%, 65%, 1) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsla(226, 100%, 65%, 1) 0%,
		hsla(197, 100%, 65%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4F78FF", endColorstr="#4FCDFF", GradientType=1 );
}
