@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Adieu-Regular';
	src: url('../../public/fonts/Adieu-Regular.otf');
}

html,
body,
main {
	overscroll-behavior: none;
}

/* Custom Scrollbar */

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: #b6d6ee;
}

body::-webkit-scrollbar-thumb {
	background: #3a7a92;
	border-radius: 12px;
}

/*   Text Styles   */

.animateUnderline {
	position: relative;
	text-decoration: none;
}

.animateUnderline::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: -8px;
	left: 0;
	background-color: #73b3dd;
	transform: scaleX(0);
	transition: transform 0.35s ease;
}

.animateUnderline:hover::before {
	transform: scaleX(1);
}
